/*
 *= require 'normalize'
 *= require 'minimal'
 *= require 'pygment'
 */

header {
  padding-bottom: 0.5em;
}
header h1 {
  text-transform: uppercase;
  margin-bottom: 0;
  font-size: 1em;
}
h1, h2 {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 1.75em;
  margin-bottom: 0;
}
h1 a, h2 a {
  font-weight: bold;
}
time {
  display: block;
  font-size: 14px;
  font-weight: normal;
  color: #bbb;
  margin: 10px 0;
}
article {
  margin: 1em 0;
}
footer {
  font-size: 14px;
  color: #bbb;
}
footer h4 {
  margin-bottom: 10px;
}
footer ol {
  list-style: none;
  padding-left: 0;
}
footer ol li {
  margin: 3px 0;
}
footer .col {
  width: 250px;
  float: left;
  padding: 0 20px 10px 0;
}
footer p {
  clear: both;
  margin: 0;
}
section .summary {
  padding-bottom: 25px;
  border-bottom: 1px solid #eee;
  margin-bottom: 35px;
}
section .summary p {
  margin: 0 0 10px 0;
}
section .article_footer {
  font-size: 14px;
  padding-top: 20px;
  color: #bbb;
}
section .article_footer .tags {
  float: left;
}
section .article_footer .timestamp {
  float: right;
}
@media print, screen and (min-width: 1011px) and (max-height: 800px) {
  footer .col {
    display: none;
  }
}
.clear {
  clear: both;
}