<h2>To Hangout:</h2>
<p>
  <script type="text/javascript" src="https://apis.google.com/js/platform.js"></script>
  <ol>
    <li>Click
      <g:hangout render="createhangout"
          invites="[{ id : 'joey@artsymail.com', invite_type : 'EMAIL' }]">
      </g:hangout>
    </li>
    <li>Click <strong>Join</strong> to join the hangout</li>
    <li>Click <strong>Invite</strong> when prompted to invite <em>joey@artsymail.com</em></li>
  </ol>
</p>

<h2>Calendar:</h2>
<p>
  <iframe src="https://www.google.com/calendar/embed?showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;mode=DAY&amp;height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=joey%40artsymail.com&amp;color=%232F6309&amp;ctz=America%2FNew_York" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no"></iframe>
</p>
